@import url(Style/qualidade.css);
@import url(style/header.css);
@import url(style/footer.css);
@import url(style/banner.css);
@import url(style/produtos.css);
@import url(style/about.css);
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap%27);

:root{

    --cor-primaria:#1C6758 ;
    --cor-secundaria:#3D8361 ;
    --cor-terciaria:#EEF2E6 ;
    --cor-quartenaira:#00FA9A;
    --cor-letra-clara:#FFFFFF ;
    --cor-letra-escura:#000000 ;
    
    --fonte-primaria:'Poppins';

}

*{
    font-family: var(--fonte-primaria);
}

html{
    scroll-behavior: smooth;
} 

.body{
    background-color: var(--cor-terciaria);
    z-index: 1;
}