.Informações_Main{
  display: flex;
  background-color: #3d8361;
  margin-top: 2em;
  justify-content: space-evenly;
  align-items: center;
  height: 25vw;
}

.Container_Main{
  font-family: var(--fonte-primaria);
  color: var(--cor-letra-clara);
  
}

.Titulo_About{
  font-size: 1.2vw;
  font-weight: 600;
  margin-bottom: 1.87em; 
}

.Texto_About{
  font-size: 1.2vw;
  font-weight: 300;
  max-width: 18.75em;
}

.Button_About{
  display: flex;
  text-decoration: none;
  color: var(--cor-letra-clara);
  border-radius: 30px;
  border: 2px solid var(--cor-terciaria);
  padding: 1.5em;
  text-align: center;
  font-size: 1.2vw;
  font-weight: 600;
  cursor: pointer;
  justify-content: center;
  box-shadow: none;
  margin-top: 2em;
}

.Button_About:hover{
  background-color: var(--cor-quartenaria);
  transition: 0.5s;
}
