.Container_map{

}

#map {
    height: calc(120vh - 100px); 
    width: calc(120vh - 50px);
    margin: 7em 7em;
}


#info-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    display: none;
}

.Title_Map{
    font-size: 2.2vw;
    font-weight: 600;
}

.Infos_Map{
    font-family: var(--fonte-primaria);
    padding: 3em 7em;
    
}

.Text_Map{
    font-weight: 600;
    font-size: 1.2vw;
}

.Text_Map a{
    text-decoration: none;
    color: var(--cor-primaria);
}

.Traco_Infos{
    width: 5.9vw; 
    height: 0.26vw;
    background: var(--cor-primaria);
    border-radius: 30px;
    position: relative;
    top: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}