.Container_Map{
    font-family: var(--fonte-primaria);
    padding: 15em 7em;
}

.Title_Map{
    font-size: 2.2vw;
    font-weight: 600;
}

.Map{
    padding-top: 5em;
}

.Container_Loc{
    font-size: 2vw;
    color: var(--cor-sextupla);
    position:static
}

.PA{
    position: relative;
    top: -30%;
    left: 18em;
}

.MA{
    position: relative;
    top: -24em;
    left: 20em;
}

.Infos_Map{
    font-family: var(--fonte-primaria);
    /* padding: 1em 7em; */
}

.Text_Map{
    font-weight: 600;
    font-size: 1.2vw;
}

.Text_Map a{
    text-decoration: none;
    color: var(--cor-primaria);
}

.Traco_Infos{
    width: 5.9vw; 
    height: 0.26vw;
    background: var(--cor-primaria);
    border-radius: 30px;
    position: relative;
    top: 0.5em;
    margin-bottom: 2em;
    margin-top: 1em;
}