.Main_Carrossel{
    margin: 2em  0  2em  0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Img_Carrossel img{
    width: 36vw;
}

.Quadro_Carrossel{
    background-color: var(--cor-secundaria);
    width: 35vw;
    height: 27vw;
    border-radius: 28px;
    position: relative;
    right: 5%;  
    z-index: -1;  
}

.Titulo_Carrossel{
    text-align: left;
    margin: 1.5em 0 1em 3.5em;
    color:var(--cor-terciaria);
    font-family: var(--fonte-primaria);
    font-size: 2vw; 
    font-weight: 580;
}

.Texto_Carrossel{
    text-align: left;
    color:var(--cor-terciaria);
    margin: 0 0 0.5em 4.5em;
    font-family: var(--fonte-primaria);
    font-size: 1.6vw;
    font-weight: 100;
    margin-right: 7em;
}

#Faixa_Banner{
    bottom: 30px;
}