/* Formulário */
/* .main{
    display: flex;
    flex-direction: row;
} */

.Container_Contatos{
    font-family: var(--fonte-primaria);
    padding-left: 10em;
    padding-top: 3em;
    float: left;
    width: 50%;
}

.Titulo_Contatos{
    display: flex;
    flex-direction: column;
}

.Titulo{
    font-size: 1.8vw;
    font-weight: 600;
}

.Texto{
    font-size: 1.2vw;
    font-weight: 100;
    padding-top: 2em;
}

.Envio_Contatos{
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 1em;
}

.Envio_Contatos form{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    width: 37.2vw;
    height: 26.6vw;
}

.Envio_Contatos form input{
    font-weight: 400;
    padding: 0.5em;
    margin-right: 0;
    margin-bottom: 2.1em; 
}

.Envio_Contatos form textarea {
    width: 99.1%;
    min-height: 200px; 
    max-height: 800px; 
    resize: vertical;
  }
  
  input[type="checkbox"] {
    float: left;
    margin-right: 5px;
  }

.Envio_Contatos form input label{
    font-size: 1vw;
}

.Botao_Enviar{
    width: 240px;
    height: 70px;  
    display: flex;
    text-decoration: none;
    color: var(--cor-primaria);
    border-radius: 5px;
    border: 2px solid var(--cor-primaria);
    text-align: center;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    box-shadow: none;
    margin-top: 2em;
}

.Botao_Enviar:hover{
    background-color: var(--cor-secundaria);
    transition: 0.4s;
}

/* Informações de Contatos */
.Container_Informacoes{
    font-family: var(--fonte-primaria);
    padding-left: 10em;
    padding-top: 10em;
    float: center;   
}

/* .Informacoes1{
    
} */

.Siga{
    font-size: 1.2vw;
    font-weight: 100;
    font-style: italic;
}

.Redes{
    font-size: 1.2vw;
    padding-top: 0.5em;
    font-weight: 600;
    font-style: italic;
}

.Img_Info{
    padding-top: 2em;
}

.Outras_Formas{
    font-size: 1.0vw;
    font-style: italic;
    padding-top: 2em;
}

.Informacoes2{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.Contato_Telefone{
    font-size: 1vw;
    font-weight: 500;
    font-style: italic;
    padding-top: 3em;
}

.Contato_WhatsApp{
    padding-top: 1em;
    font-size: 1vw;
    font-weight: 500;
    font-style: italic;
}

.Phone_Icon,
.Whatsapp_Icon{
    color: var(--cor-primaria);
    font-size: 1.3vw;
    position: relative;
    top: -3.4em;
    left: -2.1em;
    padding: 0.5em;
}

.Email_Text{
    font-size: 1.0vw;
    font-style: italic;
    font-weight: 600;
}
.Icon_Email{
    color: var(--cor-primaria);
    position: relative;
    font-size: 1.3vw;
    top: -1em;
    left: -1.6em
}

.Visite{
    font-size: 1.0vw;
    font-weight: 200;
    padding-top: 3em;
}

.Endereço{
    font-size: 1vw;
    font-weight: 200;
    padding-top: 3em;
}

.Loc_Icon{
    color: var(--cor-primaria);
    font-size: 1.3vw;
    position: relative;
    top: -1.5em;
    left: -1.6em;
}

/* Befores */
.Traco_Titulo{
    width: 112px; 
    height: 5px; 
    background: #1C6758;
    border-radius: 30px;
    position: relative;
    top: 0.5em;
}

.Traco_Info3{
    width: 112px; 
    height: 5px; 
    background: #1C6758;
    border-radius: 30px;
    position: relative;
    left: -2.5em;
}

.Traco_Info4{
    width: 112px; 
    height: 5px; 
    background: #1C6758;
    border-radius: 30px;
    position: relative;
    top: 1em;
    left: -2.5em;
}

.Traco_Info5{
    width: 112px; 
    height: 5px; 
    background: #1C6758;
    border-radius: 30px;
    position: relative;
    top: 1.5em;
    left: -2.5em;
}