.footer-top-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top:  auto;
    padding: 1em;
    
}
/* Logo do Footer */
.Logo_Footer{
    position: flex;
    top: 150em;
    left: 5em;
    width: 17.5em;
    margin-bottom: 0.938em;
}

/* Aba Nossa Sede */
.Nossa_Sede_Main{
    display: flex;
    font-family: var(--fonte-primaria);
    white-space: pre-line;
    margin-top: 5em;
    color: var(--cor-letra-escura);
}

.Nossa_Sede_Texto{
    
    
}

.Endereço{


}

.Icon_Endereço{
    display:flex
}

/* Aba de Contatos PRT 1*/
.Contato_Main{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: var(--fonte-primaria);
    white-space: pre-line;
    margin-top: -8em;
    color: var(--cor-letra-escura);
}

.Contato_Texto{
    display: flex;
    
}

.Contato{


}

.Icon_Contato{
    display: flex;
    align-items: left;


}

/* Aba de Contatos PRT 2 */
.Contato_WhatsApp{
    display: flex;
    align-items: left;
    justify-content: left;
    font-family: var(--fonte-primaria);
    white-space: pre-line;
    margin-top: 5em;
    color: var(--cor-letra-escura);
}

.Contato_WhatsApp_Texto{


}

.Icon_WhatsApp{

    
}
































































/* .Nossa_Sede{
    display: flex;
    justify-content: center;
    white-space: pre-line;
}

.Nossa_Sede_Texto{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 5em;
}

.Endereço{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    
    margin-top: 2em;
}


.sp::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: Flex;
    width: 20%;
    height: 4px;
    flex-direction: column;
    justify-content: ;
    background: var(--cor-primaria);
}

.loc_icon{
    
    display: flex;
}

.faleconosco::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(-55%, 35px);
    background: var(--cor-primaria);
}
.WPP::before{
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(-55%, -8px);
    background: var(--cor-primaria);
}

.Fale_Conosco_Texto{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: right;
    margin-top: 5em;
}

.Contato{
    font-family: var(--fonte-primaria);
}

.Contato_WhatsApp{
    flex-direction: column;
    justify-content: right;
}

.phone_icon{
    display: flex;
    flex-direction: 
}

.wpp_icon{
    display: flex;
    flex-direction: column-reverse;
    
} */

.Faixa_divisoria{
    display: flex;
    width: 116.4em; 
    height: 0px; 
    border: 1px #3D8361 solid;
}

.footer-bottom {
    height: 60px;
    margin-top: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 116.5em;
    background-color: var(--cor-primaria);
    /* padding: 4px; */
    text-decoration: none;
}

.copyright{
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    text-decoration: none;
}



