footer {
    background: var(--cor-terciaria);
    position: flex;
    bottom: 10px;
}

.footer-top-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    gap: 100px;
    margin-top:  auto;
    padding: 16px;
    
}



.logo {
    position: absolute;
    top: 1580px;
    left: 3%;
    width: 280px;
    margin-bottom: 12px;
}

.footer-top {
    max-width: 800px;
}

.sede{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: right;
    transform: translate(150%, 10px);
}

.sp::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(725%, 35px);
    background: var(--cor-primaria);
}

.loc_icon{
    position: relative;
    transform: translate(333px, -20px);
}

.faleconosco::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(965%, 35px);
    background: var(--cor-primaria);
}
.WPP::before{
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(965%, 1px);
    background: var(--cor-primaria);
}

.ouvidoria{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: right;
    transform: translate(200%, 10px);
}

.phone_icon{
    position: relative;
    transform: translate(450px, -40px);
}

.wpp_icon{
    position: relative;
    transform: translate(452px, -20px);
    
}

.footer-bottom {
    height: 60px;
    margin-top: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 4px;
    text-decoration: none;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
    text-decoration: none;
}

.copyright{
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    text-decoration: none;
}