footer {
    background: var(--cor-terciaria);
}

.footer-top-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    align-items: center;
    
    
}

.Logo_Footer{
    width: 15vw;
}

/* Aba Nossa Sede */
.Nossa_Sede_Main{
    font-family: var(--fonte-primaria);
    white-space: pre-line;
    color: var(--cor-letra-escura);
}

.Nossa_Sede_Texto{
    font-size: 18px;
    
}

.Endereço{
    font-size: 16px;
}

.Icon_Endereço i{
    position: relative;
    top: -4em;
    left: -1.25em;
    font-size: 20px;
}

/* funfo */

/* Aba de Contatos PRT 1*/
.Contato_Main{
    font-family: var(--fonte-primaria);
    white-space: pre-line;
    color: var(--cor-letra-escura);
    display: flex;
    
}

.Contato_Texto{
    font-size: 18px;
}

.Contato{
    font-size: 16px;
    

}

.Icon_Contato{
    position: relative;
    top: 1.6em;
    left: -7.2em;
    font-size: 20px;
}

/* Aba de Contatos PRT 2 */
.Contato_WhatsApp{
    font-family: var(--fonte-primaria);
    /* white-space: pre-line; */
    color: var(--cor-letra-escura);
    font-size: 0.90vw;
}

.Contato_WhatsApp_Texto{
    top: -0.25em;
    position: relative;
    font-size: 16px;

}

.Icon_WhatsApp{
    position: relative;
    top: 1.4em;
    left: -6.0em;
    font-size: 24px;
}

.Traco_Footer{
    width: 3.0vw; 
    height: 0.17vw; 
    border: 1px var(--cor-primaria) solid;
    border-radius: 15px;
    background-color:var(--cor-primaria);
    left: -1.43em;
    position: relative;
}

.Contato_WhatsApp div{
    top: -1.8em;
}

.Faixa_divisoria{
    display: flex;
    width: 129.30em; 
    height: 0px; 
    border: 0.3px #3D8361 solid;
    
}

.footer-bottom {
    height: 3.75em;
    margin-top: 3em;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-primaria);
    text-decoration: none;
}

.copyright{
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    text-decoration: none;
    font-size: 0.85vw;
}



