.Container_Header{
   background-color: var(--cor-primaria);
   /* position: fixed;  */
   width: 100%;
   top: 0;
   left: 0;
   z-index: 99;
}

.Container_Header header{
    max-width: auto;
    margin: 0em 3em 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.Logo_Header{
    width: 6vw;
    margin-left: 0.5em;
}

.navegacao nav ul{
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 1vw;
   font-weight: 700;
   font-family: var(--fonte-primaria);
   
}

.navegacao nav ul a{
    margin: 0.2em;
}

.Texto_Header{
   text-decoration: none;
   color: var(--cor-letra-clara);
   font-weight: 580;
}

.Icones_Header{
    color:var(--cor-terciaria);
    font-size: 1.9em;
}

.Menu_Header{
    color:var(--cor-terciaria);
    font-size: 1.5vw;
}

.Header_Logo{
    align-items: center;
    display: flex;
}

.Traco{
    margin-left: 1em;
    width: 0.04vw; 
    height: 1.6vw; 
    border: 1px #ffffff solid;
    border-radius: 15px;
    background-color:var(--cor-terciaria);
    align-items: center;
}

/* .divisor{
    width: 1980px; 
    height: 0px; 
    border: 1px #3D8361 solid"
} */