.Container_Header{
   background-color: var(--cor-primaria);
   /* position: fixed;  */
   width: 100%;
   top: 0;
   left: 0;
   z-index: 99;
}

.Container_Header header{
    max-width: auto;
    margin: 0em 3em 0 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.Logo_Header{
    width: 125px;
}

.navegacao nav ul{
   display: flex;
   flex-direction: row;
   align-items: center;
   font-size: 20px;
   font-weight: 700;
   font-family: var(--fonte-primaria);
   
}

.navegacao nav ul a{
    margin: 0.2em;
}

.Texto_Header{
   text-decoration: none;
   color: var(--cor-letra-clara); 
}

.Icones_Header{
    color:var(--cor-terciaria);
    font-size: 35px;
}

.Menu_Header{
    color:var(--cor-terciaria);
    font-size: 30px;
}

.Header_Logo{
    align-items: center;
    display: flex;
}

.Traco{
    margin-left: 13px;
    width: 1px; 
    height:19px; 
    border: 1px #ffffff solid;
    border-radius: 15px;
    background-color:#ffffff;
    align-items: center;
}   