.Container_Privacidade{
    /* display: flex;
    flex-direction: column; */
    font-family: var(--fonte-primaria);
    padding: 7em;
    /* white-space: pre-wrap; */
}

.Sub_Title{
    font-size: 42px;
    font-weight: 600;
    color: var(--cor-primaria);
}

.Text{
    font-size: 32px;
    font-weight: 100;
    padding-bottom: 2em;
}

.Text a{
    text-decoration: none;
    color: var(--cor-primaria);
}