.Main_Produtos_Text{
    font-family: var(--fonte-primaria);
    margin-left:  8em;
    margin-top: 10em;
    white-space: pre-line;
    display: flex;
}


.Título_Produtos{
    font-weight: 600;
    font-size: 1.93vw;
}

.Texto_Sobre_Produtos{
    font-size: 1.28vw;
    margin-top: 2em;
    margin-left: -6.80em;
    font-weight: 100;
}



.Main_Produtos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: var(--cor-secundaria);
    border-radius: 1.75em;
    margin: 7em;
    margin-left: 8.75em;
}

.Icone_Copo {
    align-items: left;
    margin-left: -2em;
    transform: translate(1.875em, 0em);
    width: 12.5em;
    height: 18.75em;
    border-radius: 1.875em;
    padding: 3.125em 0;
    transition: background-color 0.3s, color 0.3s;
}

.Copo_Svg{
    margin-left: 4em;
    margin-top: 6em;
}

.Icone_Copo:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Copos_Texto{
    font-family: var(--fonte-primaria);
    margin-top: 1em;
    margin-left: 1vh;
    color: var(--cor-terciaria);
    font-weight: 600;
}


.Icone_Prato {
    align-items: left;
    margin-left: 15em;
    margin-top: -25em;
    transform: translate(1.875em, 0em);
    width: 12.5em;
    height: 18.75em;
    border-radius: 1.875em;
    padding: 3.125em 0;
    transition: background-color 0.3s, color 0.3s;
}

.Prato_Svg{
    margin-top: 5em;
    margin-left: 3em;
}

.Icone_Prato:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Pratos_Texto{
    font-family: var(--fonte-primaria);
    margin-top: 1em;
    margin-left: 3vh;
    color: var(--cor-terciaria);
    font-weight: 600;

}


.Icone_Prato_Quadrado {
    align-items: left;
    margin-left: 32em;
    margin-top: -25em;
    transform: translate(1.875em, 0em);
    width: 12.5em;
    height: 18.75em;
    border-radius: 1.875em;
    padding: 50px 0;
    transition: background-color 0.3s, color 0.3s;
}

.Prato_Quadrado_Svg{
    margin-top: 9em;
    margin-left: 2em;
}

.Icone_Prato_Quadrado:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Pratos_Quadrados_Texto{
    font-family: var(--fonte-primaria);
    margin-top: 1em;
    margin-left: 0em;
    color: var(--cor-terciaria);
    font-weight: 600;
}


.Icone_Cumbuca {
    align-items: left;
    margin-left: 49em;
    margin-top: -25em;
    transform: translate(1.875em, 0em);
    width: 12.5em;
    height: 18.75em;
    border-radius: 1.875em;
    padding: 3.125em 0;
    transition: background-color 0.3s, color 0.3s;
}

.Cumbuca_Svg{
    margin-top: 9em;
    margin-left: 2em;
}

.Icone_Cumbuca:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Cumbuca_Texto{
    font-family: var(--fonte-primaria);
    margin-top: 1em;
    margin-left: 2vh;
    color: var(--cor-terciaria);
    font-weight: 600;
}


.Icone_Bandejas {
    align-items: left;
    margin-left: 66em;
    margin-top: -25em;
    transform: translate(1.875em, 0px);
    width: 12.5em;
    height: 18.75em;
    border-radius: 1.875em;
    padding: 3.125em 0;
    transition: background-color 0.3s, color 0.3s;
}

.Bandeja_Svg{
    margin-top: 8em;
    margin-left: 3em;
}

.Icone_Bandejas:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Bandejas_Texto{
    font-family: var(--fonte-primaria);
    margin-top: 1em;
    margin-left: 1vh;
    color: var(--cor-terciaria);
    font-weight: 600;
}


.Icone_Neon {
    align-items: left;
    margin-left: 85em;
    margin-top: -25em;
    display:flex;
    width: 12em;
    height: 19em;
    border-radius: 1.875em;
    padding: 3.125em 0;
    transition: background-color 0.3s, color 0.3s;
}

.Neon_Svg_1{
    margin-top: 6em;
    margin-left: 2em;
}

.Neon_Svg_2{
    margin-top: 6em;
    margin-left: -2em;
}

.Icone_Neon:hover {
    background-color: rgba(95, 172, 135, 0.5);
    cursor: pointer;
}

.Neon_Texto{ 
    font-family: var(--fonte-primaria);
    margin-top: 13em;
    margin-left: -8em;
    color: var(--cor-terciaria);
    font-weight: 600;
}

/* Divisória de Ícones */
.Icone_Copo:after,
.Icone_Prato:after,
.Icone_Prato_Quadrado:after,
.Icone_Cumbuca:after,
.Icone_Bandejas:after {
    content: " ";
    display: flex;
    width: 0.01em; /* Largura da divisória */
    height: 25.938em; /* Altura da divisória */
    background-color: var(--cor-terciaria); /* Cor da divisória */
    position: absolute;
    right: -2em; /* Posiciona a divisória à direita do ícone */
    top: 0;
}