.Main_Qualidade{
    display: flex;
    align-items: center;
    justify-content: center;
}

.background{
    /* margin-left: 2em; */
    /* transform: translate(150px, -560px); */
    z-index: -1;
    /* position: absolute; */
    left: 2%;
    
}
.background img{
    width: 45vw;
}

.Quadro_Qualidade{
    position: relative;
    width: 43vw; 
    height: 31vw; 
    background: #3D8361; 
    border-radius: 28px;
    /* margin-left: 55em; */
    z-index: 1;
    right: -2%;
    
}


.Titulo_Qualidade{
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-size: 2vw;
    transform: translate(1.5em, 0.9em);
    font-weight: 600;
}

.Texto_Qualidade{
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    transform: translate(2em, 3em);
    font-size: 1.35vw;
    font-weight: 300;
}

/* analisar alinhamento */