footer {
    background: var(--cor-terciaria);
    color: rgb(5, 4, 4);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footer-top-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 auto;
    padding: 16px;
    min-height: 160px;
}

.footer-top-wrapper > section {
    width: 250px;
}

h2 {
    text-align: right;
    color: #010102;
    margin-top: 0px;
    margin-bottom: 16px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 600;
}

.logo {
    position: absolute;
    top: -48px;
    left: 5%;
    width: 280px;
    margin-bottom: 12px;
}

.footer-top {
    max-width: 800px;
}

.sede{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: right;
    transform: translate(150%, -20px);
}

.sp::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(725%, 10px);
    background: var(--cor-primaria);
}

.loc_icon{
    position: relative;
    transform: translate(333px, -55px);
}

.faleconosco::before{
    font-family: var(--fonte-primaria);
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(965%, 10px);
    background: var(--cor-primaria);
}
.WPP::before{
    border-radius: 10px;
    content: " ";
    display: block;
    width: 20%;
    height: 4px;
    transform: translate(965%, -30px);
    background: var(--cor-primaria);
}

.ouvidoria{
    font-family: var(--fonte-primaria);
    display: flex;
    width: 241px;
    height: 30px;
    flex-direction: column;
    justify-content: right;
    transform: translate(200%, -20px);
}

.phone_icon{
    position: relative;
    transform: translate(450px, -70px);
}

.wpp_icon{
    position: relative;
    transform: translate(452px, -50px);
    
}

.footer-bottom {
    height: 60px;
    margin-top: 48px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--cor-primaria);
    padding: 4px;
    text-decoration: none;
}

.footer-bottom > small {
    font-size: 16px;
    margin: 0 4px;
    text-decoration: none;
}

.copyright{
    font-family: var(--fonte-primaria);
    color: #FFFFFF;
    text-decoration: none;
}